body {
    overflow-x: hidden;
}

.wrapper #sidebar {
    background: #fff;
    z-index: 999;
    height: 100%;
}

.customImg img {
    width: 60px !important;
    height: 60px !important;
}

.wrapper #sidebar ul li {
    padding: 0 25px;
}

.wrapper #sidebar ul li a {
    border: 3px solid #c4c4c4;
    border-radius: 10px;
    color: #c4c4c4;
}

.customCSS li a {
    border: none !important;
}

.wrapper #sidebar ul li a:focus {
    background: #febd2f;
    border: 3px solid #febd2f;
}

.wrapper #sidebar button {
    right: -18px;
    background: transparent;
    border: 0;
}

.wrapper #sidebar button i {
    font-size: 30px;
    background: linear-gradient(45deg, #f3f2ee 30%, #343a40 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .wrapper #sidebar h1 {
    margin-top: 25px;
} */

.wrapper #sidebar h1 a {
    color: var(--dark);
}

.wrapper #sidebar .sidebar_header-content img {
    width: 100px;
    height: 100px;
    border: 3px solid #febd2f;
}

.wrapper #sidebar .sidebar_header-content {
    color: var(--dark);
}

.wrapper #sidebar ul li a {
    color: var(--dark);
}

#content {
    /* margin-right: 250px; */
    background: #f3f2ee;
}

.custom-img {
    width: 50px;
    height: 50px;
}

#content .input_search input {
    padding: 20px 15px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #febd2f;
    caret-color: #febd2f;
}

#content .input_search input::placeholder {
    color: #c4c4c4;
}

#content .input_search input:focus {
    box-shadow: none;
}

#content .input_search button {
    top: 8px;
    left: 210px;
}

#content .right_side-col button {
    width: 108px;
    border-radius: 5px;
    background: #febd2f;
    border: 1px solid #febd2f;
    padding: 5px 10px;
}

#content .counter_recipe-videos .counter-header {
    color: #53c28f;
}

#content .counter_recipe-videos .counter-subHeading {
    margin-top: -10px;
}

#content .left_side-titles button {
    width: 80px;
    padding: 5px;
    border: 1px solid #d6d5d1;
    color: #b4b3b1;
}

#content .left_side-titles button:focus {
    background: #0f0f0f;
    color: #bbbbbb;
}

#content .left_side-titles .cocktails {
    width: 95px;
}

.cards-section {
    margin-top: 70px;
}

.cards-section .card {
    border-radius: 30px;
}

.cards-section #cardTemplate img {
    margin-top: -40px !important;
    width: 200px;
    box-shadow: 0 15px 15px #e9e4dd;
}

.cards-section #cardTemplate .card-title {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.cards-section .card .card-bottom a {
    padding: 6px 15px;
    border-radius: 10px;
    background: #e6f9f0;
    color: #52ba8e;
}

.cards-section .card .card-bottom a:focus {
    background: #22b771;
    color: #b3edd2;
}

.bottom-section {
    margin-top: 50px;
}

.bottom-section .card {
    color: #000;
}

.bottom-section .left_side-card {
    /* padding: 32px 0; */
    border-radius: 30px;
}

.left_side-card img {
    width: 200px;
    margin-left: -40px;
    box-shadow: 15px 0 15px #dfd1be;
}

.bottom-section .left_side-card .get_offer-button span {
    color: #0d9e5d;
}

.bottom-section .left_side-card .get_offer-button i {
    color: #0d9e5d;
}

.bottom_section-right_side .right_side_top-card,
.right_side_bottom-card {
    border-radius: 30px;
}

.bottom_section-right_side .right_side_top-card img,
.right_side_bottom-card img {
    margin-left: -30px;
    width: 120px;
}

.right_side_top-card .get_offer_right_top-button span {
    color: #0d9e5d;
}

.right_side_top-card .get_offer_right_top-button i {
    color: #0d9e5d;
}

.right_side_bottom-card {
    color: #fff !important;
    background: #000;
}

.right_side_bottom-card .get_offer_right_botton-button span {
    color: #fff;
}

.right_side_bottom-card .get_offer_right_botton-button i {
    color: #fff;
}

.bottom_section-right_side {
    right: -80px;
}

.right_side_top-card img {
    box-shadow: 0 15px 15px #e4dfd7;
}

@media screen and (width<=1399px) {
    .cards-section #cardTemplate img {
        width: 180px;
    }
}

@media screen and (width<=1299px) {
    .cards-section #cardTemplate img {
        width: 150px;
    }
}

@media screen and (width<=1199px) {
    .cards-section #cardTemplate img {
        width: 125px;
    }
}

@media screen and (width<= 768px) {
    .bottom_section-right_side {
        /* right: -375px; */
    }
}